<ion-toolbar >
  <ion-buttons slot="end" routerLink="/home">
    <ion-button> Back</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="home-section ion-padding" >
    <div class="heading ion-padding" >
      <h1>Registrar</h1>
    </div>

    <form [formGroup]="formRegistro" (ngSubmit)="registrar()">
      <ion-item>
        <ion-input
          label="Nombre:"
          labelPlacement="floating"
          [clearInput]="true"
          placeholder="Introduce tu nombre"
          formControlName="nombre"
          errorText="Debe ingresar su nombre entre 3 y 12 caracteres"
          maxlength="12"
          minlength="3"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Apellido:"
          labelPlacement="floating"
          [clearInput]="true"
          placeholder="Introduce tu apellido"
          formControlName="apellido"
          errorText="Debe ingresar su apellido entre 3 y 12 caracteres"
          maxlength="12"
          minlength="3"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Rut:"
          labelPlacement="floating"
          [clearInput]="true"
          placeholder="Introduce tu rut (sin puntos ni guíon)"
          formControlName="rut"
          errorText="Debe ingresar su rut"
          maxlength="9"
          minlength="8"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Región" placeholder="Seleccione región" formControlName="region">
          <ion-select-option *ngFor="let region of regiones" [value]="region.id">{{ region?.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input
          label="Contraseña:"
          labelPlacement="floating"
          type="password"
          placeholder="Introduce tu Contraseña"
          formControlName="contraseña"
          errorText="Debe ingresar una contraseña entre 5 y 12 de longitud"
          maxlength="12"
          minlength="5"
          required
        ></ion-input>
      </ion-item>
      <div class="action-button ion-padding">
        <ion-button size="small" class="registrar" slot="end" type="submit">Registrar</ion-button>
      </div>
    </form>
  </div>
</ion-content>
