ion-content{
  --background: url('../../assets/images/Background.jpeg') no-repeat center/cover fixed;
}

.home-section {
  text-align: center;
  position: relative;
  .heading{
    text-align: center;
      h1{
          font-size: 30px;
          font-family:'Times New Roman';
          font-weight: bolder;
      }
  }
  ion-button{
    --background: #dd9492;
    color: #141414;
    font-weight: bold;
  }
}
